h1{
    text-align: center;
}

a.path{
    text-decoration: none;
    color: inherit;
    
}

img.svg{
    height: 20px;
    width: 30px;
}
h3.card-title{
    text-align: center;
    color: cadetblue;
}

div.card{
    margin-bottom: 25px;
    margin-right: 5px;
    background-color: black;
}

h5.card-title{
    text-align: center;
    /* background-color: black; */
    color: dimgrey;
    padding-top: 5px;
    border-radius: 2px;
}
p.price-tag{
    text-align: center;
    color: dimgray;
    font-size: large;
}
div.image-container{
    position: relative;
    overflow: hidden;
    width: 100%; 
    height: 450px;
    border-radius: 2px;
    
}
img.thumbnail{
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 2px;
    transition: filter 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

img.thumbnail:hover {
    filter:blur(5px);
}


li.categories {
    list-style: none;
    padding-left: 10px;
    list-style-position: outside;
    background-color: transparent; /* Set background to transparent */
    border-radius: 4px;
    border-bottom: 2px;
    color: gray;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a glossy box shadow */
}
a.categories{
    list-style: none;
    padding-left: 10px;
    list-style-position: outside;
    background-color: transparent; /* Set background to transparent */
    border-radius: 4px;
    border-bottom: 2px;
    color: gray;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a glossy box shadow */
}


div.shoe-container{
    height: auto;
    width: auto;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}

div.shoe-container img{

    width: 100%;
    height: 100%;
    transition: transform 0.3s;
}   

div.shoe-container:hover img{
    transform: scale(1.2);
}

.card-category{
    /* background-color: black; */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

div.container-mainImage{
    width: 600px;
    height: 700px;
    overflow: hidden;
    position: relative;

}
div.container-mainImage img{
    max-width: 100%;
    height: auto;
    transform-origin: center;
    transition: transform 0.1s;
}
div.container-mainImage:hover img{
    transform: scale(2);
}

div.extraImage{
    height: 140px;
    width: 140px;
}

div.extraImage img{
    max-width: 100%;
    height: auto;
}

.cartImage{
    height: 100px;
    width: 100px;
}
.cartImage img{
    max-width: 100%;
    height: auto;
}

/* Style the menu items */
.menu-item {
    position: relative; /* Make it a relative positioning context */
    display: inline-block; /* Display menu items horizontally */
    margin-right: 20px; /* Adjust the spacing between menu items as needed */
}

/* Style the submenu */
.submenu {
    display: none;
    position: absolute;
    top: 110%; /* Position below the "Men" link */
    left: auto;
    background-color: #212529; /* Background color for the dropdown */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle effect */
    list-style: none;
    z-index: 1;
    border-radius: 4px;
    width: 500px
}

/* Style the menu item on hover */
.menu-item:hover .submenu {
    display: block; /* Show the submenu when hovering over the menu item */
}

/* Style the submenu items */
.submenu li {
    padding: 10px;
    /* border-bottom: 1px solid #ccc; Add a border between submenu items */
}

/* Style the submenu links */
.submenu a {
    text-decoration: none;
    color: #726D6F; /* Text color for submenu links */
    display: block;
}

/* Style the submenu links on hover */
.submenu a:hover {
    background-color: #f5f5f5; /* Background color change on hover */
}

.brand-li{
    border-bottom: 1px solid #198754;
}


.brand-image{
    height: 220px;
    width: 275px;
    margin-bottom: 20px;
}

.brand-image img{
    width: 100%;
    height: 180px
}
.brand-category-title{
    width: 100%;
    
    text-align: center;
    background: black;
    border-radius: 4px;
    color: #6B7176;

}
.new-product-shoes{
    background-color: #2E97A7;
    margin: 10px;
    border-radius: 4px;
    
    
    color: #176B87;
}
.new-product-shoes img{
    width: 50px;
    padding-top: 10px;
}

.new-product-watch{
    background-color: #F39F5A;
    margin: 10px;
    border-radius: 4px;
    
    color: #AE445A;
}

.new-product-watch img{
    width: 50px;
    padding-top: 10px;
}

.new-product-garments{
    background-color: #AED8CC;
    margin: 10px;
    border-radius: 4px;
    
    
    color: #7A316F;
}

.new-product-garments img{
    width: 40px;
    padding-top: 20px;
}

.new-product-accesories{
    background-color: #FFC8C8;
    margin: 10px;
    border-radius: 4px;
    
    
    color: #FF3FA4;
}

.new-product-accesories img{
    width: 40px;
    padding-top: 15px;
}
.add-product-paragraph{
    
    color: #2E97A7;
    font-size: 1.8em;
    border-bottom: solid 1px #176B87;
}

.new-shoe-form{
    background: #2E97A7;
    color: #FAF0E6;
    padding: 20px;
    font-size: larger;
    border-radius: 10px;
}

.new-shoe-form label{
    padding-left: 20px;
    margin-bottom: 5px;
}

.new-shoe-form input{
    margin-top: 10px;
}

.admin-panel-header{

    background-color: #212A3E;
    margin: 10px;
    border-radius: 10px;
    padding-top: 20px;
    
    
    color: #008170;

}

.new-brand-form{

    background: #35A29F;
    border-radius: 5px;
    padding: 5px;
    font-size: 1.1em;
    

}
.brandlist-image{
    width: 50px;
    height: 45px;
    cursor:grab;
}


.brand-image {
    position: relative;
}

.brand-image img {
    display: block;
}

.brand-image p {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.8em;
    
}
