h1{
    text-align: center;
}

a.path{
    text-decoration: none;
    color: inherit;
    
}

img.svg{
    height: 20px;
    width: 30px;
}
h3.card-title{
    text-align: center;
    color: cadetblue;
}

div.card{
    margin-bottom: 25px;
    margin-right: 5px;
    background-color: black;
}

h5.card-title{
    text-align: center;
    /* background-color: black; */
    color: dimgrey;
    padding-top: 5px;
    border-radius: 2px;
}
p.price-tag{
    text-align: center;
    color: dimgray;
    font-size: large;
}
div.image-container{
    position: relative;
    overflow: hidden;
    width: 100%; 
    height: 450px;
    border-radius: 2px;
    
}
img.thumbnail{
    width: 100%;
    height: 100%;
    border-radius: 2px;
    transition: filter 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

img.thumbnail:hover {
    filter:blur(5px);
}


li.categories {
    list-style: none;
    padding-left: 10px;
    list-style-position: outside;
    background-color: transparent; /* Set background to transparent */
    border-radius: 4px;
    border-bottom: 2px;
    color: gray;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a glossy box shadow */
}
a.categories{
    list-style: none;
    padding-left: 10px;
    list-style-position: outside;
    background-color: transparent; /* Set background to transparent */
    border-radius: 4px;
    border-bottom: 2px;
    color: gray;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a glossy box shadow */
}


div.shoe-container{
    height: auto;
    width: auto;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}

div.shoe-container img{

    width: 100%;
    height: 100%;
    transition: transform 0.3s;
}   

div.shoe-container:hover img{
    transform: scale(1.2);
}

.card-category{
    /* background-color: black; */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

div.container-mainImage{
    width: 600px;
    height: 700px;
    overflow: hidden;
    position: relative;

}
div.container-mainImage img{
    max-width: 100%;
    height: auto;
    transform-origin: center;
    transition: transform 0.1s;
}
div.container-mainImage:hover img{
    transform: scale(2);
}

div.extraImage{
    height: 140px;
    width: 140px;
}

div.extraImage img{
    max-width: 100%;
    height: auto;
}
